* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Graphik";
  src: url("/fonts/graphik-bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; // 15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

:root {
  --background: #19191b;

  --primary: #ffff;
  --secondary: rgba(255, 255, 255, 0.7);
  --black: #1e1e2080;
  --link: #5454d4;
  --black: #1E1E2080;

}

body {
  background: var(--background);
}

body, button, textarea, input {
  color: var(--primary);
  font: 400 1rem "Nunito Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  font-family: 'Graphik';
  font-weight: bold;
}
