.background {
  background: var(--black);
}

.container {
  display: flex;
  width: 100%;
  height: 560px;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 3.75rem;
    line-height: 4.125rem;
    width: 100%;
    max-width: 826px;
  }

  button {
    width: 200px;
    height: 60px;
    background: var(--link);
    border: 0;
    border-radius: 4px;

    font-size: 1.125rem;
    font-weight: 700;
    text-align: center;
  }
}
